/*Definicion de los tamaños de los contenedores principales del proyecto*/

/*Quitamos los posibles margenes que puedan generar los navegadores, ponemos un fondo
negro y cambiamos el color de la fuente a blanco*/

* {
    /* Aplica este box-sizing a todos los elementos */
    box-sizing: border-box; 
}

body{
    margin: 0;
    padding: 20px;

    width: 100vw;
    min-height: 100vh;

    background-image: radial-gradient(125% 125% at 50% 10%, #fff 40%, #475569 100%);
    background-attachment: fixed;
}

.index{ 

    display: grid;
    grid-template-columns: 1fr 1fr;

}

/*Definimos la cabecera con un flex en 3 partes para asi poder modificarla al gusto
flex-basis divide los items en un mismo tamaño*/

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--protest-revolution-regular);

    width: 100%;
    height: 14%;
}

.left{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    
    gap: 15px;
    font-size: 2rem;
}

.center{
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.right{
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 100%;
}

/*Modificamos el contenido principal de la pagina dividiendola
en dos partes, siendo la de los articulos la principal y mayor
en cuando a tamano. content es el contenedor padre, article
y aside los hijos*/

.content{
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    justify-items: center;

    padding: 20px;
    gap: 10%;

    font-family: var(--alegreya);

    flex-direction: column;

    width: 100%;
    height: auto;
}

.article{
    padding-top: 10vh;
    font-family: var(--bricolage);

    width: 100%;
}

/*Para ahorrarnos el padding declaramos un 80% del contenedor padre*/

.aside{
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 1fr;

    justify-items: center;
    align-items: center;
    gap: 15px;

    font-family: var(--bricolage);

    width: 80%;

}

/*Disponemos de un flex para alinear el botton con el input
y hacemos un flex dentro del contenedor para separar los contenidos*/

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.search-bar{
  display: flex;
  justify-content: space-between;
}


/*Creamos un contenedor donde estaran alojadas todas las entradas
de la web por el momento. A medida que pase el tiempo se actualizara
haciendola mas responsiva e interactiva*/

.table-articles{
    border: solid 2px rgb(139, 139, 139);
    border-radius: 6px;
    padding: 10%;
    font-size: 1.2rem;
    font-family: var(--alegreya);

    display: flex;
    justify-content: center;
}

.list-articles{
    line-height: 45px;
    list-style: none;
    padding: 0;
    margin: 0;
}   



/**/

.foot{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--protest-revolution-regular);

    height: 100px;

}

/*Centrado de todo el contenido*/

.item, .part-1, .part-2, .foot, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}