/*Definicion de los tamaños de los contenedores principales del proyecto*/

/*Quitamos los posibles margenes que puedan generar los navegadores, ponemos un fondo
negro y cambiamos el color de la fuente a blanco*/

* {
    /* Aplica este box-sizing a todos los elementos */
    box-sizing: border-box; 
}

body{
    margin: 0;
    padding: 20px;

    background-image: radial-gradient(125% 125% at 50% 10%, #fff 40%, #475569 100%);
    background-attachment: fixed;
}

.index{ 

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--protest-revolution-regular);

    width: 100%;
    height: 100px;
    padding-left: 10px;
    padding-right: 50px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    height: 100%;
}

.content{

    display: grid;
    grid-template-columns: 3fr 1fr;

    padding: 20px;

    font-family: var(--alegreya);

    flex-direction: column;

    height:80vh;
}

/*Para ahorrarnos el padding declaramos un 80% del contenedor padre*/

.aside{

    display: block;
    font-family: var(--bricolage);

    width: 80%;

}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--protest-revolution-regular);

    height: 100px;

}

/*Centrado de todo el contenido*/

.item, .part-1, .part-2, .aside, .foot, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}