/*Aqui definiremos todas las fuentes y la paleta de colores que tenga el proyecto
dandoles como valor a variables para poder usarlas más facilmente*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root{

    --titillium-web-regular: 'Titillium Web', sans-serif;
    --protest-revolution-regular: 'Protest Revolution', sans-serif;
    --fondo-pagina-gradiente: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    --audiowide: "Audiowide", sans-serif;
    --alegreya: "Alegreya", sans-serif;
    --bricolage: "Bricolage Grotesque", sans-serif;
}

.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.bricolage-grotesque-uniquifier {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-uniquifier {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

